<nav class="app-navbar bg-gradient nav-enter" [attr.dir]="languageService.direction">
  <div class="app-navbar__group app-navbar__group--brand">
    <button type="button" class="app-navbar__icon-button" (click)="sideBarClose()">
      <mat-icon>menu</mat-icon>
    </button>

    <a href="#" class="app-navbar__brand">
      <mat-icon>av_timer</mat-icon>
      <span>فاکتورنو</span>
    </a>
  </div>

  <div class="app-navbar__group app-navbar__group--actions">
    <div class="app-language-switcher" data-localization-skip="true">
      <button
        type="button"
        class="app-language-switcher__button"
        [class.app-language-switcher__button--active]="languageService.currentLanguage === 'fa'"
        (click)="setLanguage('fa')">
        فارسی
      </button>
      <button
        type="button"
        class="app-language-switcher__button"
        [class.app-language-switcher__button--active]="languageService.currentLanguage === 'en'"
        (click)="setLanguage('en')">
        English
      </button>
    </div>

    <button type="button" class="app-navbar__logout" (click)="onClickLogout()">
      خروج
    </button>

    <img *ngIf="!settings.getUser().avatar" src="assets/images/noavatar.png" class="img-avatar rounded-circle">
    <img *ngIf="settings.getUser().avatar" [lazyLoad]="settings.getUser().avatar.url" class="img-avatar rounded-circle">
  </div>
</nav>
