<div class="card mb-3 p-2">
    <div class="row">

        <div class="col-12 py-3 px-4">

            <div *ngIf="errorMessages?.length>0" class="alert alert-danger mb-3">
                <div *ngFor="let errorMessage of errorMessages">
                    {{ errorMessage }}
                </div>
            </div>

            <div *ngIf="warningMessages?.length>0" class="alert alert-warning mb-3">
                <div *ngFor="let warningMessage of warningMessages">
                    {{ warningMessage }}
                </div>
            </div>

            <div *ngIf="informationMessages?.length>0" class="alert alert-info mb-3">
                <div *ngFor="let informationMessage of informationMessages">
                    {{ informationMessage }}
                </div>
            </div>

            <app-alert class="mb-3" *ngIf="formSuccessful" [AlertType]="'Success'"
                [TextMessage]="'اطلاعات با موفقیت ثبت گردید'"></app-alert>

            <div *ngIf="error?.message" class="alert alert-danger pb-3 d-flex align-items-center">
                <mat-icon>error</mat-icon>
                <div class="ms-2">
                    خطا در بارگذاری اطلاعات
                </div>
            </div>

            <p>تصویر موردنظر را انتخاب کنید:</p>

            <div class="mb-3">
                <input #fileUpload type="file" class="form-control" aria-label="آپلود تصویر" (change)="onChange($event)">
            </div>

            <div>
                <button class="btn btn-primary" type="submit" (click)="onUpload()">بارگذاری</button>
            </div>

        </div>
    </div>
</div>