<div class="row" class="mb-4">
    <div class="col">
        <div class="mb-2">
            <button type="button" class="btn btn-success me-1">بستن فاکتور</button>
            <button type="button" class="btn btn-success me-1">حذف</button>
        </div>
    </div>
</div>


<div class="row" class="mb-4">
    <div class="col">
        <app-alert *ngIf="!errorMessages && !factor" AlertType="Download"
            TextMessage="در حال واکشی اطلاعات ..."></app-alert>
        <!-- <app-alert *ngIf="error?.message" [AlertType]="'Error'" [TextMessage]="'خطا در واکشی اطلاعات'"></app-alert> -->
        <app-alert *ngFor="let errorMessage of errorMessages" [AlertType]="'Error'"
            [TextMessage]="errorMessage"></app-alert>
        <app-alert *ngIf="factor?.id==''" AlertType="Info" TextMessage="اطلاعاتی برای نمایش وجود ندارد"></app-alert>
        <app-alert *ngIf="factor?.isClosed" AlertType="Warning" TextMessage="این فاکتور بسته شده است"></app-alert>

        <app-alert *ngIf="formSuccessful" [AlertType]="'Success'"
            [TextMessage]="'اطلاعات با موفقیت ثبت گردید'"></app-alert>

    </div>
</div>

<div class="row mb-3" *ngIf="factor">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="px-md-2">
                    <div class="row row-hover pt-3 border-top">
                        <div class="col-md-2">
                            <p>مشتری:</p>
                        </div>
                        <div class="col-md-2">
                            <p class="ms-1 fw-bold">{{factor.owner.fullName}}</p>
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>

                    <div class="row row-hover pt-3 border-top">
                        <div class="col-md-2">
                            <p>تاریخ فروش:</p>
                        </div>
                        <div class="col-md-2">
                            <p class="ms-1 fw-bold">{{factor.sellDateTime}}</p>
                        </div>
                        <div class="col-md-2">
                            <p>تاریخ ثبت:</p>
                        </div>
                        <div class="col-md-2">
                            <p class="ms-1 fw-bold">{{factor.insertDateTime}}</p>
                        </div>
                        <div class="col-md-2" *ngIf="factor.isDeleted">
                            <p>تاریخ حذف:</p>
                        </div>
                        <div class="col-md-2" *ngIf="factor.isDeleted">
                            <p class="ms-1 fw-bold">{{factor.deleteDateTime}}</p>
                        </div>
                    </div>

                    <div class="row row-hover pt-3 border-top border-bottom">
                        <div class="col-md-2">
                            <p>توضیحات:</p>
                        </div>
                        <div class="col-md-2">
                            <p class="ms-1 fw-bold">{{factor.description}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="col">
    <div class="mb-2">
        <button type="button" class="btn btn-success me-1" (click)="onClickAddNew()">آیتم جدید</button>
    </div>
</div>

<div class="row" *ngIf="!factor?.factorItems || factor.factorItems?.length==0">
    <app-alert AlertType="Info" TextMessage="اطلاعاتی برای نمایش وجود ندارد"></app-alert>
</div>

<div class="row" *ngIf="factor?.factorItems?.length">

    <div class="col-md-4" *ngFor="let item of factor.factorItems">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title mb-3 d-flex">
                    <span class="w-100"> {{item.product?.name}}</span>

                    <div class="flex-shrink-1 d-flex align-items-center">

                        <mat-icon class="me-1 finger-cursor" (click)="onClickIncQuantity(item)">add_circle</mat-icon>
                        <span class="badge bg-gradient me-1">{{item.quantity | persianNumber}}</span>
                        <mat-icon class="finger-cursor" (click)="onClickDecQuantity(item)">do_not_disturb_on</mat-icon>

                    </div>
                </h5>
                <p class="card-text mb-2">{{item.description}}</p>

                <div class="card-text d-flex justify-content-around">
                    <div class="card-text">تخفیف: {{item.offPercent | persianNumber}}%</div>
                    <div class="card-text">قیمت: {{item.price | rial | persianNumber}}</div>
                </div>


            </div>
            <div class=" d-flex justify-content-center bg-success py-2">
                <mat-icon class="me-2">payments</mat-icon>
                قیمت نهایی: {{(item.price * item.quantity) *
                (1 - item.offPercent / 100) | rial | persianNumber}}
            </div>
            <div class="card-footer text-light fw-bold d-flex">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-primary btn-sm me-1"
                        (click)="onClickEdit(item)">ویرایش</button>
                    <button type="button" class="btn btn-outline-danger btn-sm me-1"
                        (click)="onClickDelete(item)">حذف</button>
                </div>
            </div>
        </div>
    </div>
</div>