<div class="container">
    <div class="row">
        <div class="col d-flex align-items-center pb-2">
            <mat-icon class="bg-info text-white border rounded-circle p-2 round-icon">notes</mat-icon>
            <h3 class="ms-2 mt-2">مدیریت وبلاگ</h3>
        </div>
    </div>
    <div class="row" class="mb-3">
        <div class="col">

            <div class="mb-2">

                <button type="button" class="btn btn-primary me-1" (click)="viewGrid()">لیست پست‌ها</button>
                <button type="button" class="btn btn-success me-1" (click)="addNewPost()">پست جدید</button>

            </div>

        </div>
    </div>

    <router-outlet></router-outlet>

</div>