<div class="content bg-gradient">
    <div class="container">
        <div class="row" style="min-height: calc(100vh);">
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center flex-column">
                <div class="card w-100 login-card">
                    <div class="card-body px-4 pb-4">
                        <mat-icon
                            class="login-icon text-dark  bg-secondary rounded-circle p-2 mb-3">person_outline</mat-icon>
                        <h2 class="mb-5">ورود کاربران</h2>
                        <!-- <p>با شماره موبایل خود وارد شوید!</p> -->
                        <div class="d-grid gap-4 mb-4">
                            <div class="input-group">
                                <div class="input-group-text text-dark bg-secondary"><mat-icon>person</mat-icon></div>
                                <input class="form-control form-control-lg p-2 text-center" type="text" dir="ltr"
                                    [(ngModel)]="loginRequest.userName">
                            </div>

                            <div class="input-group">
                                <div class="input-group-text text-dark bg-secondary"><mat-icon>lock</mat-icon></div>
                                <input class="form-control form-control-lg p-2 text-center" type="password" dir="ltr"
                                    [(ngModel)]="loginRequest.password">
                            </div>

                            <button *ngIf="isLoading == false" class="btn btn-lg btn-primary" type="button"
                                (click)="onClickLogin()">
                                ورود
                            </button>

                            <button *ngIf="isLoading"
                                class="btn btn-lg btn-primary d-flex align-items-center justify-content-center"
                                type="button" disabled>
                                <div class="spinner-border spinner-border-sm text-light me-2" role="status"> </div>
                                <span>لطفا منتظر بمانید ...</span>
                            </button>

                            <button type="button" class="btn btn-sm btn-outline-light">رمز عبور خود را فراموش
                                کرده‌ام!</button>

                        </div>

                        @if(errorMessages.length>0){
                        <div class="alert alert-danger py-1 mb-2">
                            <div *ngFor="let errorMessage of errorMessages">
                                <div>{{ errorMessage }}</div>
                            </div>
                        </div>
                        }

                        @if(informationMessages.length>0){
                        <div class="alert alert-info py-1 mb-2">
                            <div *ngFor="let informationMessage of informationMessages">
                                <p>{{ informationMessage }}</p>
                            </div>
                        </div>
                        }

                        @if(warningMessages.length>0){
                        <div class="alert alert-warning py-1 mb-2">
                            <div *ngFor="let warningMessages of warningMessages">
                                <p>{{ warningMessages }}</p>
                            </div>
                        </div>
                        }
                        
                    </div>
                    <p class="text-light">کلیه حقوق محفوظ است</p>
                </div>

            </div>

            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center flex-column py-3">
                <img src="../../../assets/images/Work time-amico.svg" alt="login">
            </div>

        </div>
    </div>
</div>