<div class="pt-3">
    <div *ngIf="!error?.message && !blogPosts" class="alert alert-info pb-3 d-flex align-items-center">
        <mat-icon>cloud_download</mat-icon>
        <div class="ms-2">
            در حال واکشی اطلاعات ...
        </div>
    </div>

    <div *ngIf="error?.message" class="alert alert-danger pb-3 d-flex align-items-center">
        <mat-icon>error</mat-icon>
        <div class="ms-2">
            خطا در واکشی اطلاعات
        </div>
    </div>

    <div class="table-responsive">
        <table *ngIf="blogPosts" class="table table-hover bg-white table-sm">
            <thead class="bg-secondary text-light">
                <tr>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">عنوان</th>
                    <th scope="col">تعداد نمایش</th>
                    <th scope="col">امتیاز</th>
                    <th scope="col">تاریخ ثبت</th>
                    <th scope="col">تاریخ انتشار</th>
                    <th scope="col">تاریخ بروزرسانی</th>
                    <th scope="col">عملیات</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let blogPost of blogPosts">
                    <td class="text-truncate">
                        <mat-icon *ngIf="blogPost.isHot" class="text-danger">whatshot</mat-icon>
                        <mat-icon *ngIf="!blogPost.isHot" class="text-black-50">whatshot</mat-icon>

                        <mat-icon *ngIf="blogPost.isPublished" class="text-success">check_box</mat-icon>
                        <mat-icon *ngIf="!blogPost.isPublished" class="text-black-50">check_box</mat-icon>

                        <mat-icon *ngIf="blogPost.isStarRatingEnabled" class="text-warning">star</mat-icon>
                        <mat-icon *ngIf="!blogPost.isStarRatingEnabled" class="text-black-50">star</mat-icon>

                    </td>
                    <td>
                        {{ blogPost.title }}
                    </td>
                    <td> {{ blogPost.visitCount | persianNumber }} </td>
                    <td> {{ blogPost.starRate | persianNumber }} </td>
                    <td> {{ blogPost.insertDateTime }} </td>
                    <td> {{ blogPost.publishDateTime  }} </td>
                    <!-- | persianDateTime -->
                    <td> {{ blogPost.updateDateTime}} </td>
                    <td>
                        <div ngbDropdown [container]="'body'">
                            <button class="btn btn-secondary btn-sm" id="dropdownBasic1"
                                ngbDropdownToggle>عملیات‌</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem class="dropdown-item"
                                    (click)="viewPost(blogPost)">نمایش</button>

                                <button ngbDropdownItem class="dropdown-item"
                                    (click)="editPost(blogPost)">ویرایش</button>

                                <button ngbDropdownItem class="dropdown-item" (click)="toggleIsPublished(blogPost)">
                                    انتشار
                                </button>

                                <button ngbDropdownItem class="dropdown-item" (click)="toggleIsHot(blogPost)">
                                    داغ کردن
                                </button>

                            </div>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>