<div class="d-flex align-items-center justify-content-between flex-wrap gap-2 mb-3">
    <button type="button" class="btn btn-success" (click)="onClickAddNew()">جدید</button>
    <div class="btn-group btn-group-sm" role="group" *ngIf="factors?.length > 0">
        <input type="radio" class="btn-check" (click)="filter('all')" name="filterStatus" id="factorFilterAll"
            autocomplete="off" checked>
        <label class="btn btn-outline-secondary" for="factorFilterAll">همه</label>

        <input type="radio" class="btn-check" (click)="filter('not deleted')" name="filterStatus" id="factorFilterActive"
            autocomplete="off">
        <label class="btn btn-outline-secondary" for="factorFilterActive">حذف نشده</label>

        <input type="radio" class="btn-check" (click)="filter('deleted')" name="filterStatus" id="factorFilterDeleted"
            autocomplete="off">
        <label class="btn btn-outline-secondary" for="factorFilterDeleted">حذف شده</label>
    </div>
</div>

<div class="mb-3">
    <app-alert *ngIf="isLoading" AlertType="Download" TextMessage="در حال واکشی اطلاعات ..."></app-alert>
    <app-alert *ngIf="error?.message" [AlertType]="'Error'" [TextMessage]="'خطا در واکشی اطلاعات'"></app-alert>
    <app-alert *ngFor="let errorMessage of errorMessages" AlertType="Error" [TextMessage]="errorMessage"></app-alert>
    <app-alert *ngIf="factors?.length == 0 && !isLoading" AlertType="Info" TextMessage="اطلاعاتی برای نمایش وجود ندارد"></app-alert>
    <app-alert *ngIf="formSuccessful" [AlertType]="'Success'" [TextMessage]="'اطلاعات با موفقیت ثبت گردید'"></app-alert>
</div>

<div class="table-responsive" *ngIf="filterFactors?.length">
    <table class="table table-hover table-sm bg-white align-middle">
        <thead class="bg-secondary text-light">
            <tr>
                <th scope="col">توضیحات</th>
                <th scope="col">وضعیت</th>
                <th scope="col" class="text-end">عملیات</th>
            </tr>
        </thead>
        <tbody>
            @for (factor of filterFactors; track factor.id) {
            <tr>
                <td class="fw-semibold">{{factor.description}}</td>
                <td>
                    <span *ngIf="factor.isDeleted" class="badge bg-danger">حذف شده</span>
                    <span *ngIf="!factor.isDeleted" class="badge bg-success">فعال</span>
                </td>
                <td class="text-end">
                    <div class="btn-group btn-group-sm" *ngIf="factor.isDeleted == false">
                        <button type="button" class="btn btn-outline-secondary" (click)="onClickEdit(factor)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button type="button" class="btn btn-outline-danger" (click)="onClickDelete(factor)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button type="button" class="btn btn-outline-secondary" (click)="onClickDetail(factor)">
                            <mat-icon>view_headline</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
