<div class="modal-header bg-dark text-light">
    <h5 class="modal-title" id="exampleModalLabel">
        {{ title }}
    </h5>
    <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"
        (click)="hideConfirmationModal()"></button>
</div>


<div class="modal-body bg-dark text-light">

    <form class="row was-validated needs-validation" *ngIf="postCategory!=undefined">
        <div class="col-12">
            <div *ngIf="postCategory?.id" class="row row-hover mb-3 px-md-4 py-1">
                <div class="col text-success">
                    شناسه:
                    {{ postCategory.id }}
                </div>
            </div>
            
            <div class="row row-hover mb-3 px-md-4 py-1">
                <div class="col">
                    <label class="form-label">نام دسته بندی:</label>
                    <input [(ngModel)]="postCategory.name" name="name" type="text" class="form-control" required>
                    <div class="invalid-feedback">لطفاً نام دسته بندی را وارد نمایید</div>
                </div>
            </div>

        </div>
    </form>
</div>

<div class="modal-footer bg-dark text-light">
    <div class="text-right">
        <button type="submit" class="btn btn-sm btn-primary" (click)="onConfirm()">
            تایید
        </button>
        <button type="button" class="btn btn-sm btn-secondary ms-1" (click)="onCancel()">
            انصراف
        </button>
    </div>
</div>
